body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.App {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
}

@media screen and (max-width:780px) {
  .App {
    flex-direction: column;
  }
}