.Login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    /* semi-transparent */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* for Safari */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard{
    background-color: black;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
    color: white;
}

.loginCardTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    text-align: center;

}

.googleBtn{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

@media screen and (max-width:780px){
    .loginCard{
        width: 80%;
    }
}