.Dashboard {
    flex: 0.8;
    height: 100vh;
    overflow: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.DashboardLeft {
    width: 70%;
    padding: 30px;
    height: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-color: #f4f6fa;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}.DashboardHeaderTitle {
    font-size: 26px;
    font-weight: 600;
}

.DashboardHeaderLargeTitle {
    font-size: 52px;
}

.alertInfo {
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    font-size: 18px;
    background-color: white;
}

.dashboardInstruction {
    margin-left: 40px;
}

.DashboardUploadResume {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.DashboardResumeBlock {
    width: 65%;
    background-color: white;
    border-radius: 30px;
    padding: 15px 30px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 22px;
}

.DashboardInputField {
    display: flex;
    align-items: center;
}

.analyzeAIBtn {
    font-size: 18px;
    cursor: pointer;
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    background: linear-gradient(90deg, #fca326, #f94a6b);
    border-radius: 30px;
    border: 3px solid black;
}

input {
    display: none;
}

.jobDesc {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    box-sizing: border-box;
}

.textArea {
    outline: none;
    border-radius: 20px;
    border: 2px solid rgb(14, 14, 97);
    padding: 10px 20px;
    box-sizing: border-box;
    width: 65%;
    resize: none;
}
.AnalyzeBtn {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: linear-gradient(90deg, #fca326, #f94a6b);
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.DashboardRight {
    width: 25%;
    height: fit-content;
    box-sizing: border-box;
    background-color: #f4f6fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}

.DashboardRightTopCard{
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
}

.DashboardRightTopCard  div:first-child{
    font-size: 22px;
    font-weight: 700;
}

.profileImg{
    width: 85px ;
    height: 85px;
    border-radius: 100%;
    margin: 20px 0;
}

.feedback h2 {
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width:780px){
    .Dashboard{
        flex-direction: column;
    }
    .DashboardLeft{
        width: 100%;
    }
    .DashboardHeaderTitle{
        font-size: 26px;
    }
    .DashboardHeaderLargeTitle{
        font-size: 34px;
    }
    .DashboardRight{
        width: 100%;
        margin-top: 30px;
    }
    .DashboardUploadResume{
        flex-direction: column;
    }
    .DashboardResumeBlock{
        width: 100%;
    }
    .DashboardInputField{
        width: 100%;
    }
    label{
        width: 100%;
        text-align: center;
    }
    .jobDesc{
        flex-direction: column;
        gap: 20px;
    }
    .textArea{
        width: 100%;
    }
    .AnalyzeBtn{
        border-radius: 30px;
        width: 100%;
        height: fit-content;
        padding: 15px;
        box-sizing: border-box;
    }
}