.Admin{
    flex: 0.8;
    height: 100vh;
    overflow: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.AdminBlock{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.AdminCard{
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
}


@media screen and (max-width:780px) {
    .Admin{
        padding: 20px;
    }
    .AdminBlock {
        
        grid-template-columns: 1fr ;
    }
}